
.table{
    border-collapse: collapse;
    margin-bottom: 20px;
    border-color: #c0c4cc;
    border-width: 0.2px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.inline :deep(.el-input) {
    width: 150px;
}
:deep(.el-date-editor) {
    width: 190px
}